name: CI - Teen Titans Backend (Swagger only)

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'
          cache: 'maven'

      - name: Make mvnw executable
        run: chmod +x mvnw

      - name: Build with Maven
        run: ./mvnw clean package -DskipTests=true

      - name: Generate Swagger JSON
        run: |
          ./mvnw spring-boot:run &
          sleep 20
          curl -o swagger.json http://localhost:8080/v3/api-docs
          pkill -f 'spring-boot'

      - name: Upload Swagger JSON
        uses: actions/upload-artifact@v4
        with:
          name: swagger-docs
          path: swagger.json
